*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products_nav{
    background-color: rgb(212, 224, 235);
    margin-bottom: 40px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.products_nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

#myCart{
    border: 1px solid #296494;
    padding: 15px 20px;
    background-color: #296494;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

#myCart:hover{
    scale: 1.1;
    background-color: #2b5375;
}

#myCart:active{
    scale: 0.9;
}

h1{
    font-size: 45px;
    text-align: center;
    color: #2b5375;
}

.products_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px auto;
}

.products_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 1px solid #2b5375;
    border-radius: 5px;
    padding: 30px 10px;
    gap: 10px;
}

.products_img{
    width: 250px;
}

.phone_name{
    font-size: 25px;
}

.phone_price{
    font-size: 22px;
    font-style: italic;
    color: #2b5375;
}

#addToCart{
    border: 1px solid #296494;
    padding: 10px 18px;
    background-color: #296494;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

#addToCart:hover{
    scale: 1.1;
    background-color: #2b5375;
}

#addToCart:active{
    scale: 0.9;
}