* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products_nav {
    background-color: rgb(212, 224, 235);
    margin-bottom: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.products_nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

#myCart {
    border: 1px solid #296494;
    padding: 15px 20px;
    background-color: #296494;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

#myCart:hover {
    scale: 1.1;
    background-color: #2b5375;
}

#myCart:active {
    scale: 0.9;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: #2b5375;
}

.products_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px auto;
}

.products_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2b5375;
    border-radius: 5px;
    padding: 30px 10px;
    gap: 10px;
    transition: all 0.5s ease;
}

.products_cart:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(43, 83, 117, 0.3), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products_img {
    width: 250px;
}

.phone_name {
    font-size: 25px;
}

.phone_price {
    font-size: 22px;
    font-style: italic;
    color: #2b5375;
}

.addToCart {
    border: 1px solid #296494;
    padding: 10px 18px;
    background-color: #296494;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

.addToCart:hover {
    scale: 1.1;
    background-color: #2b5375;
}

.addToCart:active {
    scale: 0.9;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid #296494;
    width: 35%;
    height: 80%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Чтобы модалка была поверх всех элементов */
}


body.modal-open {
    overflow: hidden;
    pointer-events: none;
}

body.modal-open #modal {
    pointer-events: auto;
}


.modal_title {
    font-size: 28px;
    color: #2b5375;
}

.modal_item_name {
    font-size: 25px;
}

.modal_item_price {
    font-size: medium;
    font-style: italic;
    font-weight: 500;
}

.modal_img {
    width: 350px;
}

.modal_btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

#store {
    border: 1px solid #943d29;
    padding: 10px 18px;
    background-color: #943429;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

#store:hover {
    scale: 1.1;
    background-color: #752c2b;
}

#store:active {
    scale: 0.9;
}

#goToCart {
    border: 1px solid #296494;
    padding: 10px 18px;
    background-color: #296494;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

#goToCart:hover {
    scale: 1.1;
    background-color: #2b5375;
}

#goToCart:active {
    scale: 0.9;
}


/* about section */

.aboutProduct {
    display: none;
    margin: 50px auto;
}

.about_title {
    text-align: center;
    font-size: 35px;
    color: #296494;
    margin-bottom: 20px;
}

.about_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_wrapper_text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    max-width: 750px;
}

.about_model {
    font-size: 30px;
    color: #2b5375;
}

.about_production {
    font-size: 20px;
    color: rgb(119, 117, 117);
}

.about_price {
    font-size: 18px;
    font-style: italic;
    color: #296494;
}

.about_desc {
    font-size: 17px;
    font-weight: 500;
    color: rgb(58, 58, 58);
    letter-spacing: 0.5px;

}

.about_btns {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


#backToProduct {
    display: inline-block;
    border: 1px solid #943429;
    padding: 10px 18px;
    background-color: #944029;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.5s ease;
}

#backToProduct:hover {
    scale: 1.1;
    background-color: #752b2b;
}

#backToProduct:active {
    scale: 0.9;
}

